<div class="flex items-center justify-between">
  <div class="flex items-center gap-2">
    <div class="mt-1" (click)="toggleChecked()">
      @if(this.todo().checked) {
      <ng-icon name="lucideSquareCheckBig" />
      }
      @if(!this.todo().checked) {
      <ng-icon name="lucideSquare" />
      }
    </div>

    <button type="button" class="cursor-pointer text-left" [ngClass]="this.todo().checked ? 'line-through': ''"
      [hlmDialogTriggerFor]="dialog">{{ this.todo().description }}</button>
  </div>
  <div class=" flex gap-1">
    <button hlmBtn variant="outline" size="icon" (click)="deleteTodo()">
      <ng-icon name="lucideTrash" />
    </button>
  </div>
</div>

<hlm-dialog #dialog showCloseButton closeOnOutsidePointerEvents>
  <hlm-dialog-content *hlmDialogPortal="let ctx" class="w-4xl">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>{{ 'DIALOG.EDIT_TITLE' | translate }}</h3>
    </hlm-dialog-header>

    <fieldset hlmFieldSet>
      @if (this.todoBuffer) {
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="field-input-description">{{
            'FORM.DESCRIPTION' | translate
            }}</label>
          <input hlmInput id="field-input-description" [value]="this.todoBuffer.description"
            (change)="this.todoBuffer.description = $event.target.value" />
        </div>
      </div>
      }
    </fieldset>

    <hlm-dialog-footer>
      <div class="flex gap-2">
        <button hlmBtn hlmDialogClose variant="outline">
          {{ 'BUTTONS.CANCEL' | translate }}
        </button>
        <button hlmBtn hlmDialogClose (click)="saveTodo()">
          {{ 'BUTTONS.SAVE' | translate }}
        </button>
      </div>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>