<hlm-item variant="outline" class="mb-2">
  <hlm-item-content>
    <hlm-item-title class="mb-1">{{ todo().title }}</hlm-item-title>
    <div class="flex gap-2">
      <hlm-checkbox
        [checked]="todo().checked"
        (checkedChange)="onChanged('checked', $event)"
        inputId="todo-description"
      />
      <label hlmLabel for="todo-description">{{ todo().description }}</label>
    </div>
  </hlm-item-content>

  <hlm-item-actions>
    <button hlmBtn variant="outline" (click)="onDelete()">Delete</button>
  </hlm-item-actions>
</hlm-item>
