<hlm-item [ngClass]="getPriorityBackgroundClass(this.todo().priority)" variant="outline" class="mb-2">
  <hlm-item-content>
    <hlm-item-title class="mb-1 text-md">
      {{ todo().title }}
    </hlm-item-title>
    <div class="flex items-center gap-2">
      <hlm-checkbox [checked]="todo().checked" (checkedChange)="onChanged('checked', $event)" />
      <div class="flex flex-col">
        <label hlmLabel>{{ todo().description }}</label>
        <!-- <div [ngClass]="getPriorityClass(todo().priority)">
          {{ 'PRIORITY.' + todo().priority | translate }}
        </div> -->
      </div>
    </div>
  </hlm-item-content>

  <hlm-item-actions>
    <button hlmBtn variant="outline" [hlmDialogTriggerFor]="dialog">
      <ng-icon name="lucidePen" />
    </button>
    <button hlmBtn variant="destructive" size="icon" (click)="onDelete()">
      <ng-icon name="lucideX" />
    </button>
  </hlm-item-actions>
</hlm-item>

<hlm-dialog #dialog showCloseButton closeOnOutsidePointerEvents>
  <hlm-dialog-content *hlmDialogPortal="let ctx" class="w-[500px]">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>{{ 'DIALOG.EDIT_TITLE' | translate }}</h3>
    </hlm-dialog-header>

    <fieldset hlmFieldSet>
      @if (this._todo) {
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="field-input-title">{{
            'FORM.TITLE' | translate
            }}</label>
          <input hlmInput id="field-input-title" [value]="this._todo.title"
            (change)="this._todo.title = $event.target.value" />
        </div>
        <div hlmField>
          <label hlmFieldLabel for="field-input-description">{{
            'FORM.DESCRIPTION' | translate
            }}</label>
          <input hlmInput id="field-input-description" [value]="this._todo.description"
            (change)="this._todo.description = $event.target.value" />
        </div>
      </div>
      }
    </fieldset>

    <hlm-dialog-footer>
      <div class="flex gap-2">
        <button hlmBtn hlmDialogClose variant="outline">
          {{ 'BUTTONS.CANCEL' | translate }}
        </button>
        <button hlmBtn hlmDialogClose (click)="saveTodo()">
          {{ 'BUTTONS.SAVE' | translate }}
        </button>
      </div>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>