<hlm-item variant="outline" class="mb-2">
  <hlm-item-content>
    <div class="flex items-center gap-2">
      <hlm-checkbox [checked]="todo().checked" (checkedChange)="onChanged('checked', $event)" />
      <span>{{ todo().description }}</span>
    </div>
  </hlm-item-content>

  <hlm-item-actions>
    <button hlmBtn variant="outline" [hlmDialogTriggerFor]="dialog">
      <ng-icon name="lucidePen" />
    </button>
    <button hlmBtn variant="destructive" size="icon" (click)="onDelete()">
      <ng-icon name="lucideX" />
    </button>
  </hlm-item-actions>
</hlm-item>

<hlm-dialog #dialog showCloseButton closeOnOutsidePointerEvents>
  <hlm-dialog-content *hlmDialogPortal="let ctx" class="w-[90%] sm:max-w-none lg:w-1/2">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>{{ 'DIALOG.EDIT_TITLE' | translate }}</h3>
    </hlm-dialog-header>

    <fieldset hlmFieldSet>
      @if (this._todo) {
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="field-input-description">{{
            'FORM.DESCRIPTION' | translate
            }}</label>
          <input hlmInput id="field-input-description" [value]="this._todo.description"
            (change)="this._todo.description = $event.target.value" />
        </div>
      </div>
      }
    </fieldset>

    <hlm-dialog-footer>
      <div class="flex gap-2">
        <button hlmBtn hlmDialogClose variant="outline">
          {{ 'BUTTONS.CANCEL' | translate }}
        </button>
        <button hlmBtn hlmDialogClose (click)="saveTodo()">
          {{ 'BUTTONS.SAVE' | translate }}
        </button>
      </div>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>