<div class="py-3 px-6">

  <div class="flex justify-between mb-3">
    <div>
      <div class="text-2xl">Todos</div>
      <div class="text-sm">{{this.doneTodos().length}} / {{this.todos().length}}</div>
    </div>
    <div class="flex items-center justify-between mb-3">
      <button hlmBtn variant="outline" size="icon" [hlmDialogTriggerFor]="dialog">
        <ng-icon name="lucidePlus" />
      </button>
    </div>
  </div>

  <div class="flex flex-col gap-1">
    @for (todo of todos(); track todo.id) {
    <app-todo-item [todo]="todo" (todoChange)="updateTodo($event)" (delete)="deleteTodo($event)" />
    }
  </div>

  <hlm-dialog #dialog showCloseButton closeOnOutsidePointerEvents>
    <hlm-dialog-content *hlmDialogPortal="let ctx" class="w-[90%] sm:max-w-none lg:w-1/2">
      <hlm-dialog-header>
        <h3 hlmDialogTitle>Add Todo</h3>
      </hlm-dialog-header>

      <fieldset hlmFieldSet>
        <div hlmFieldGroup>
          <div hlmField>
            <label hlmFieldLabel for="field-input-priority">Priority</label>
            <hlm-select [value]="todo.priority" (valueChange)="todo.priority = $event!">
              <hlm-select-trigger>
                <hlm-select-value placeholder="Priority" />
              </hlm-select-trigger>
              <hlm-select-content *hlmSelectPortal>
                @for (item of priorityOptions; track item.value) {
                <hlm-select-item [value]="item.value">{{
                  item.label
                  }}</hlm-select-item>
                }
              </hlm-select-content>
            </hlm-select>
          </div>
          <div hlmField>
            <label hlmFieldLabel for="field-input-description">Description</label>
            <input hlmInput id="field-input-description" [value]="this.todo.description"
              (change)="this.todo.description = $event.target.value" />
          </div>
        </div>
      </fieldset>

      <hlm-dialog-footer>
        <div class="flex gap-2">
          <button hlmBtn hlmDialogClose variant="outline">Abbrechen</button>
          <button hlmBtn hlmDialogClose (click)="saveNewTodo()">
            Speichern
          </button>
        </div>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>
</div>